<footer class="py-4">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 align-middle">
        <h5>Contatti:</h5>
        <ul class="list-unstyled">
          <li>Numero verde: 800 000 000</li>
          <li>via X - Pordenone (PN)</li>
        </ul>
        <p class="text-center mb-0">Copyright &copy; Del Bianco & Morello</p>
      </div>
    </div>
  </div>
</footer>

<%# Import di jQuery %>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

<%# Import di Bootstrap per javascript %>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
  crossorigin="anonymous"
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
  integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
  crossorigin="anonymous"
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
  integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
  crossorigin="anonymous"
></script>

<%# Collegamento al file script.js %>
<script src="/scripts/script.js"></script>
</body>
</html>