<%- include("navbar") %>

<!-- ----------------------------MAIN------------------------------ -->
<h3 class="accedi">Bentornata!</h3>
<h5 class="accedi">Accedi al tuo profilo</h5>
<h5 class="email-exists mt-3">Credenziali non valide</h5>
<div class="col-xl-4 col-lg-5 col-md-6 col-sm-10 form">
    <form action="/users/login" method="post" class="row g-3 form">    
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <input class="form-control" type="text" name="email" placeholder="E-mail"></input>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <input class="form-control" type="password" name="password" placeholder="Password"></input>
    </div>
   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
       <button class="btn btn-primary mb-3" type="submit">Accedi</button>
    </div>     
</form>
<span>Oppure <a class="oppure-registrati" href="/users/signup">Registrati</a></span> 
</div>



<!-- ----------------------------FOOTER------------------------------ -->

<%- include("footer") %>