<%- include("navbar") %>
<!-- ----------------------------MAIN------------------------------ -->
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
      <div class="list-group">
        <a
          href="#"
          class="list-group-item list-group-item-action active"
          id="account"
          >Il mio account</a
        >
        <a
          href="/users/me/account"
          class="list-group-item list-group-item-action"
          >I miei dati</a
        >
        <a
          href="/users/me/orders"
          class="list-group-item list-group-item-action"
          >I miei ordini</a
        >
      </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8" id="utente">
      <h2>Ciao <%= user.name %> <%= user.surname %></h2>
      <p id="p">
        Dal tuo account IStyle puoi gestire i tuoi ordini e dati di contatto.
      </p>
      <div id="ordini">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="45"
          height="45"
          fill="black"
          class="bi bi-bag"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
          />
        </svg>
      </div>
      <p id="istyle">Fai il tuo primo acquisto e diventa anche tu un IStyle.</p>

      <button type="button" class="btn shopping">
        <a href="/" id="shopping"> Inizia lo shopping</a>
      </button>
    </div>
  </div>
</div>

<!-- ----------------------------FOOTER------------------------------ -->
<%- include("footer") %>
